<!DOCTYPE html>
<html class="no-js ie7 ie" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>Likema</title>
    <meta name="description" content=""/>
    <!-- CSS styles -->
    <link rel='stylesheet' type='text/css' href='/css/wuxia-red.css'/>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
    <!--<link rel="stylesheet" type='text/css' href="/js/plugins/dateSelect/build/css/bootstrap-datetimepicker.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/img/icons/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/icons/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/icons/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" href="/img/icons/apple-touch-icon-57-precomposed.png"/>

    <!-- JS Libs -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/libs/jquery.js"><\/script>')</script>
    <script src="/js/libs/modernizr.js"></script>
    <script src="/js/libs/jquery.js"></script>
    <script src="/js/libs/selectivizr.js"></script>
    <script src="/js/echarts.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
    <!-- jQuery DataTable -->
    <script src="/js/plugins/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
    <!-- jQuery DateSelect-->
    <!--<script type="text/javascript" src="/js/plugins/dateSelect/build/js/bootstrap-datetimepicker.min.js"></script>-->

    <script>

        $(document).ready(function () {

            // Navbar tooltips
            $('.navbar [title]').tooltip({
                placement: 'bottom'
            });
            $( document ).tooltip();

            // Content tooltips
            $('[role=main] [title]').tooltip({
                placement: 'top'
            });

            // Dropdowns
            $('.dropdown-toggle').dropdown();

            //Date
            $('#date').val("2016-01-04");


        });
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

<!-- Main navigation bar -->
<header th:fragment="common" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".user">
                <span class="icon-user"></span>
            </button>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".navigation">
                <span class="icon-chevron-down"></span>
            </button>
            <a class="brand" href="#">Likema</a>
            <nav class="nav-collapse navigation">
                <ul class="nav" role="navigation">
                    <li class="active"><a href="#" title="Homepage dashboard"><span class="icon-home"></span>
                        Home</a></li>
                    <li><a href="#Security" title="All securities"><span class="icon-tasks"></span>All Securities</a></li>
                    <li><a href="/portfolios" title="Portfolios demo"><span class="icon-table"></span>Portfolios Demo</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li><a href="#" onclick="clickMyPortfolios()" title="My portfolio" class="btn-wuxia-navbar">
                        <div class="btn btn-wuxia"><span class="icon-key"></span> My Portfolio</div>
                    </a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- /Main navigation bar -->

<!-- Main content -->
<div class="container" role="main">

    <!-- Breadcrumbs -->
    <ul class="breadcrumb">
        <li  class="active"><a href="#"><span class="icon-home"></span> Home</a></li>
    </ul>
    <!-- Breadcrumbs -->

    <!-- Secondary navigation in hero unit -->
    <div class="hero-unit blow">
        <h1>Likema</h1>
        <p>Likema is a website that you can see, search and sort the securities listed. In addition, you can also
            create your own portfolios of securities. We offered our users charts to intuitively see the price,
            volumes and dividend information. According the charts it becomes very easy to analysis and decide
            what securities to buy</p>
        <div class="nav-secondary inverse">
            <nav>
                <ul>
                    <li><a class="wuxify-me" href="#Security"><span class="icon-th"></span>Securities</a></li>
                    <li><a class="wuxify-me" href="/portfolios"><span class="icon-signal"></span>Portfolios</a></li>
                    <li><a class="wuxify-me" href="#" onclick="clickMyPortfolios()"><span class="icon-heart"></span>My Portfolio</a>
                        <span id="securityCount" class="badge badge-inverse">0</span></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content">

        <!-- Tab content -->
        <div class="page-container tab-content">

            <!-- Tab #ui -->
            <div class="tab-pane active" id="ui">

                <!-- Grid row -->
                <div class="row">
                    <div id="Security"></div>
                    <!-- Page grid cell (12 blocks - full) -->
                    <article class="span12">
                        <h2>All of the securities</h2>
                    </article>
                    <!-- /Page grid cell (12 blocks - full) -->

                    <!-- Page grid cell (8 blocks) -->

                    <article class="span12">
                        <div>
                            <input id="date" type="date"/>
                            <!--<button id="dateSelect" class="btn btn-default">-->
                            <i style="color: #d14;" class="fa fa-calendar fa-2x"></i>
                            <!--</button>-->
                        </div>

                        <table class="datatable table table-striped table-bordered" id="table">
                            <thead>
                            <tr>
                                <th>Symbol</th>
                                <th>Date</th>
                                <th>Open</th>
                                <th>High</th>
                                <th>Low</th>
                                <th>Close</th>
                                <th>Volume</th>
                                <th>Options</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </article>

                </div>
                <!-- Grid row -->

            </div>
            <!-- /Tab #ui -->

        </div>
        <!-- /Tab content -->

    </div>
    <!-- /Main data container -->

</div>
<!-- /Main content -->

<!-- Main footer -->
<footer class="container">
    <nav>
        <ul>
            <li>&copy; Copyright 2019. All rights reserved.</li>
        </ul>
    </nav>
    <p>&copy; Copyright &copy; 2019. Likema. All rights reserved.</p>
</footer>
<!-- /Main footer -->

<!-- Scripts -->
<!--<script src="/js/navbar.js"></script>-->
<script src="/js/plugins/waypoints.min.js"></script>
<script src="/js/bootstrap/bootstrap-tooltip.js"></script>
<script src="/js/bootstrap/bootstrap-dropdown.js"></script>
<script src="/js/bootstrap/bootstrap-collapse.js"></script>




<script>
    var stockNames = "-";
    var seperator = "-";
    var count = 0;
    var firstDraw= true;
    $(document).ready(function () {
        /* Table #example */
        var table = $('.datatable').DataTable({
            "sDom": "<'row'<'span4'l><'span4'f>r>t<'row'<'span4'i><'span4'p>>",
            "sPaginationType": "bootstrap",
            "bProcessing" : false,
            ajax : {
                "url":"/stock/list",
                // "async": false,
                "data": { date : function() {
                        var date = $("#date").val();
                        console.log("date:" + date);
                        if (date.length == 0 || date == null) {
                            return "20160104";
                        } else {
                            var d = date.split("-");
                            var dateData = "";
                            for (var i = 0; i < d.length; i++) {
                                dateData += d[i];
                            }
                            console.log("dateData:"+dateData);
                            return dateData;
                        }
                    }}
            } ,//通过ajax实现分页的url路径。
            "aoColumns" : [//初始化要显示的列
                {
                    "data" : "stockName",//获取列数据，跟服务器返回字段一致
                },
                {
                    "data" : "date",
                    "mRender" : function(data, type, full) {
                        return new Date(data)//处理时间显示
                            .toLocaleDateString();
                    }
                },
                {
                    "data" : "openPrice"},
                {
                    "data" : "highPrice" },
                {
                    "data" : "lowPrice"},
                {
                    "data" : "closePrice"},
                {
                    "data" : "tradeVolume"},
                {
                    "mDataProp" : null,
                    "mRender" : function(data, type, row){
                        // console.log("stockName in button mRender:"+data.stockName);
                        var id =  data.stockName;
                        // console.log("id="+id);
                        var stockName = '"' + data.stockName + '"';
                        var date = '"' + data.date + '"';
                        return "<a title='Go to see the plots of this security'><button class=\"btn btn-info btn-wuxia\" " +
                            "onclick='showDetail("+stockName+","+date+")'>Plots</button></a>"
                            +"&nbsp;"
                            + "<a title='Add this security to your own portfolio'><button class=\"btn btn-warning btn-wuxia\" id='"+id+"' " +
                            "onclick='addIntoPortfolio("+stockName+","+stockName+")'>"
                            + "<i class='fa fa-plus'></i></button></a>"
                    }
                }
            ],
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page"
            },
            "fnFormatNumber": function ( iIn ) {
                if ( iIn < 1000 ) {
                    return iIn;
                } else {
                    var
                        s=(iIn+""),
                        a=s.split(""), out="",
                        iLen=s.length;

                    for ( var i=0 ; i<iLen ; i++ ) {
                        if ( i%3 === 0 && i !== 0 ) {
                            out = ","+out;
                        }
                        out = a[iLen-i-1]+out;
                    }
                }
                return out;
            },
            "drawCallback": function( settings ) { // when datatable finish draw, it will call this function
                // var api = this.api();
                //
                // // Output the data for the visible rows to the browser's console
                // console.log( api.rows( {page:'current'} ).data() );
                if(firstDraw){
                    console.log("First Draw");
                    firstDraw = false;
                }else{
                    console.log("----------------------------draw function cookie-----------------------------------")
                    var securityStr = getCookie(" stockNames");
                    console.log("securityStr:" + securityStr);
                    var securities = securityStr.split("-");
                    var length = securities.length - 2;
                    for (var i = 1; i <= length; i++) {
                        var id = securities[i];
                        console.log("id:" + id);
                        var bt = document.getElementById(id);
                        if(bt == undefined)
                            continue;
                        bt.style.color = "white";
                        var $bt = $(bt);
                        console.log("bt.id=" + $bt.attr("id"));
                        console.log("log confirm");
                        classChangeFromPlusToMinus($bt);
                        count = length;
                        $("#securityCount").html(length);
                    }
                }
            }
        })

        $("#date").live("input propertychange",function(){
            // console.log("click");
            table.ajax.reload();
            console.log(table.ajax);
        })

        table.on( 'draw', function () {
            console.log( 'Redraw occurred at: '+new Date().getTime() );
        } );

    })





    $('.btn-info').tooltip({
        placement: 'bottom',
        text: 'Go to see the plots of this security'
    });

    $('.btn-warning').tooltip({
        placement: 'bottom',
        text: 'Add this security to your own portfolio'
    });



    function getDateDateFromDateTime(dateTime){
        var date = dateTime.substr(0,10);
        var d = date.split("-");
        var dateData = "";
        for (var i = 0; i < d.length; i++) {
            dateData += d[i];
        }
        return dateData;
    }

    function showDetail(stockName){
        var dateTime = $("#date").val();
        if(dateTime.length == 0 || dateTime == null){
            dateTime = "20160104";
        }
        var dateData = getDateDateFromDateTime(dateTime);
        var curpath = window.location.href;
        var basepath = curpath.split("/")[0];
        // console.log("basepath"+basepath);
        var url = basepath+"/securities?name="+stockName+"&date="+dateData;
        window.open(url);
    }

    function setCookie(name, value, expires){
        // console.log("--------------------addIntoCookies--------------------");
        var date = new Date();
        date.setTime(date.getTime() + expires);
        document.cookie = name + "=" + value +";expires=" + date;
    }

    function getCookie(key){
        var arrStr = document.cookie.split(";");
        for(var i = 0; i< arrStr.length; i++){
            var arr = arrStr[i].split("=");
            // console.log(arr[0]);
            if(arr[0] == key){
                return arr[1];
            }
        }
        return "";
    }

    function changeSecurityNum(cookie,key){
        var arrStr = cookie.split(";");
        for(var i=0; i<arrStr.length; i++){
            var arr = arrStr[i].split("=");
            if(arr[0] == key){
                var sequrities = arr[1].split("-");
                count = sequrities.length - 2;
                $("#securityCount").html(count);
            }
        }
        return 0;
    }

    function classChangeFromPlusToMinus($bt){
        var stockName = $bt.attr("id");
        var id = stockName;
        $bt.removeClass("btn-warning");
        $bt.addClass("btn-danger");
        $bt.children("i").addClass("fa-minus").removeClass("fa-plus");
        $bt.attr("onclick","deleteFromPortfolio("+'"'+stockName+'"'+","+'"'+id+'"'+")");
    }

    function classChangeFromMinusToPlus($bt){
        var stockName = $bt.attr("id");
        var id = stockName;
        $bt.removeClass("btn-danger");
        $bt.addClass("btn-warning");
        $bt.children("i").addClass("fa-plus").removeClass("fa-minus");
        $bt.attr("onclick","addIntoPortfolio("+'"'+stockName+'"'+","+'"'+id+'"'+")");
    }

    function addIntoPortfolio(stockName,id){
        stockNames += stockName + seperator;
        setCookie("stockNames",stockNames,60);
        console.log("cookie:"+document.cookie);
        // console.log("id="+id);
        var bt = document.getElementById(id);
        var $bt = $(bt);
        // console.log("bt:"+$bt.attr('id'));
        classChangeFromPlusToMinus($bt);

        changeSecurityNum(document.cookie," stockNames");
    }

    function deleteFromPortfolio(stockName,id){
        deleteFromCookies(stockName);
        var bt = document.getElementById(id);
        var $bt = $(bt);
        // console.log("bt:"+$bt.attr('id'));
        console.log("cookie:"+document.cookie);
        classChangeFromMinusToPlus($bt);

        changeSecurityNum(document.cookie," stockNames");
    }

    function deleteFromCookies(stockName){
        console.log("--------------------deleteFromCookies--------------------");
        var curCookie = getCookie(" stockNames");
        // console.log("curCookie:"+curCookie);
        var target = seperator+ stockName +seperator;
        var start = curCookie.indexOf(target);
        // console.log("search:"+target);
        // console.log("start:"+start);
        var newCookie = curCookie.substr(0,start)+curCookie.substr(start+stockName.length+1);
        setCookie("stockNames",newCookie,60);
        stockNames = newCookie;
        // console.log("newCookie:"+newCookie);
    }

    function clickMyPortfolios(){
        if(count == 0){
            alert("You have't select any securities！！！");
        }else {
            // console.log(getCookie("stockNames"));
            var curpath = window.location.href;
            var basepath = curpath.split("/")[0];
            var url = basepath+"/myPortfolio";
            window.open(url);
        }
    }

    /* Default class modification */
    $.extend($.fn.dataTableExt.oStdClasses, {
        "sWrapper": "dataTables_wrapper form-inline"
    });

    /* API method to get paging information */
    $.fn.dataTableExt.oApi.fnPagingInfo = function (oSettings) {
        return {
            "iStart": oSettings._iDisplayStart,
            "iEnd": oSettings.fnDisplayEnd(),
            "iLength": oSettings._iDisplayLength,
            "iTotal": oSettings.fnRecordsTotal(),
            "iFilteredTotal": oSettings.fnRecordsDisplay(),
            "iPage": Math.ceil(oSettings._iDisplayStart / oSettings._iDisplayLength),
            "iTotalPages": Math.ceil(oSettings.fnRecordsDisplay() / oSettings._iDisplayLength)
        };
    }

    /* Bootstrap style pagination control */
    $.extend($.fn.dataTableExt.oPagination, {
        "bootstrap": {
            "fnInit": function (oSettings, nPaging, fnDraw) {
                var oLang = oSettings.oLanguage.oPaginate;
                var fnClickHandler = function (e) {
                    e.preventDefault();
                    if (oSettings.oApi._fnPageChange(oSettings, e.data.action)) {
                        fnDraw(oSettings);
                    }
                };

                $(nPaging).addClass('pagination').append(
                    '<ul>' +
                    '<li class="prev disabled"><a href="#"><span class="icon-caret-left"></span> ' + oLang.sPrevious + '</a></li>' +
                    '<li class="next disabled"><a href="#">' + oLang.sNext + ' <span class="icon-caret-right"></span></a></li>' +
                    '</ul>'
                );
                var els = $('a', nPaging);
                $(els[0]).bind('click.DT', {action: "previous"}, fnClickHandler);
                $(els[1]).bind('click.DT', {action: "next"}, fnClickHandler);
            },

            "fnUpdate": function (oSettings, fnDraw) {
                var iListLength = 0;
                var oPaging = oSettings.oInstance.fnPagingInfo();
                var an = oSettings.aanFeatures.p;
                var i, j, sClass, iStart, iEnd, iHalf = Math.floor(iListLength / 2);

                if (oPaging.iTotalPages < iListLength) {
                    iStart = 1;
                    iEnd = oPaging.iTotalPages;
                }
                else if (oPaging.iPage <= iHalf) {
                    iStart = 1;
                    iEnd = iListLength;
                } else if (oPaging.iPage >= (oPaging.iTotalPages - iHalf)) {
                    iStart = oPaging.iTotalPages - iListLength + 1;
                    iEnd = oPaging.iTotalPages;
                } else {
                    iStart = oPaging.iPage - iHalf + 1;
                    iEnd = iStart + iListLength - 1;
                }

                for (i = 0, iLen = an.length; i < iLen; i++) {

                    // Add / remove disabled classes from the static elements
                    if (oPaging.iPage === 0) {
                        $('li:first', an[i]).addClass('disabled');
                    } else {
                        $('li:first', an[i]).removeClass('disabled');
                    }

                    if (oPaging.iPage === oPaging.iTotalPages - 1 || oPaging.iTotalPages === 0) {
                        $('li:last', an[i]).addClass('disabled');
                    } else {
                        $('li:last', an[i]).removeClass('disabled');
                    }
                }
            }
        }
    });

</script>
<!--<script>-->
    <!--window.onload = function() {-->
        <!--console.log("&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;cookie-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;")-->
        <!--var securityStr = getCookie(" stockNames");-->
        <!--var securities = securityStr.split("-");-->
        <!--var length = securities.length - 2;-->
        <!--for (var i = 1; i <= length; i++) {-->
            <!--var id = securities[i];-->
            <!--console.log("id:" + id);-->
            <!--var bt = document.getElementById(id);-->
            <!--bt.style.color = "white";-->
            <!--var $bt = $(bt);-->
            <!--console.log("bt.id=" + $bt.attr("id"));-->
            <!--classChangeFromPlusToMinus($bt);-->
            <!--count = length;-->
            <!--$("#securityCount").html(length);-->
        <!--}-->
    <!--}-->

<!--</script>-->

</body>
</html>