<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Likema</title>
    <meta name="description" content=""/>
    <meta name="author" content="Walking Pixels | www.walkingpixels.com"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- CSS styles -->
    <link rel='stylesheet' type='text/css' href='/css/wuxia-red.css'/>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/img/icons/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/icons/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/icons/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" href="/img/icons/apple-touch-icon-57-precomposed.png"/>

    <!-- JS Libs -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/libs/jquery.js"><\/script>')</script>
    <script src="/js/libs/jquery.js"></script>
    <script src="/js/libs/modernizr.js"></script>
    <script src="/js/libs/selectivizr.js"></script>
    <script src="/js/echarts.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
    <script src="/js/echarts.min.js"></script>
    <script>

        $(document).ready(function () {

            // Navbar tooltips
            $('.navbar [title]').tooltip({
                placement: 'bottom'
            });

            // Content tooltips
            $('[role=main] [title]').tooltip({
                placement: 'top'
            });

            // Dropdowns
            $('.dropdown-toggle').dropdown();


        });
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<!-- Main navigation bar -->
<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".user">
                <span class="icon-user"></span>
            </button>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".navigation">
                <span class="icon-chevron-down"></span>
            </button>
            <a class="brand" href="#">Likema</a>
            <nav class="nav-collapse navigation">
                <ul class="nav" role="navigation">
                    <li><a href="/index" title="Homepage"><span class="icon-home"></span>
                        Home</a></li>
                    <li><a href="/index#table.html" title="All Securities"><span class="icon-tasks"></span>All Securities</a></li>
                    <li><a href="/portfolios" title="Portfolio Demo"><span class="icon-table"></span>Portfolio Demo</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="active"><a href="/myPortfolio" title="My Portfolio" class="btn-wuxia-navbar">
                        <div class="btn btn-wuxia"><span class="icon-key"></span>My Portfolio</div>
                    </a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- /Main navigation bar -->

<!-- Main content -->
<div class="container" role="main">

    <!-- Breadcrumbs -->
    <ul class="breadcrumb">
        <li  class="active"><a href="/index"><span class="icon-home"></span> Home</a></li>
    </ul>
    <!-- Breadcrumbs -->

    <!-- Secondary navigation in hero unit -->

    <!-- /Main data container -->
    <div id='line' style="height: 500px; top:10px"></div>
    <script type="text/javascript">
        function getCookie(cname)
        {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++)
            {
                var c = ca[i].trim();
                if (c.indexOf(name)==0) return c.substring(name.length,c.length);
            }
            return "";
        }
        var myLine = echarts.init(document.getElementById('line'));
        var lineOption = {
            dataZoom: [
                {
                    type: 'inside',
                    xAxisIndex: 0,
                    start: 98,
                    end: 100
                },
                {
                    show: true,
                    xAxisIndex: 0,
                    type: 'slider',
                    top: '85%',
                    start: 98,
                    end: 100
                }
            ],
            title : {
                text : 'portfolios',//标题
                textStyle:{
                    fontFamily: 'Arial',
                    fontSize: 25,
                    fontStyle: 'normal',
                    fontWeight: 'normal',
                    color:'#d43f3f',
                    // fontWeight: bold
                    fontWeight:'bold'
                },
                padding: [
                    0,  // 上
                    10, // 右
                    50,  // 下
                    10, // 左
                ]
            },
            tooltip : {
                trigger : 'axis' //item 点在哪条线上显示哪条线上的数据，axis点在哪个坐标点上显示对于点上所有数据
            },
            legend : {
                data : []
            },
            toolbox : {
                show : true,
                orient : 'vertical',
                x : 'right',
                y : 'center',
                feature : {
                    mark : {
                        show : true
                    },
                    dataView : {
                        show : true,
                        readOnly : false
                    },
                    magicType : {
                        show : true,
                        type : [ 'line', 'bar' ]
                    },
                    restore : {
                        show : true
                    },
                    saveAsImage : {
                        show : true,
                        name : '折线图'//保存的图片名次
                    }
                }
            },
            calculable : true,
            xAxis : [ {
                type : 'category',
                boundaryGap : false,
                name : 'time',
                data : [ '' ],
                axisLine: {onZero: false},
                splitLine: {show: false},   //是否显示坐标轴轴线
                //splitNumber: 20,    //坐标轴的分割段数，预估值，在类目轴中无效
                min: 'dataMin', //特殊值，数轴上的最小值作为最小刻度
                max: 'dataMax'  //特殊值，数轴上的最大值作为最大刻度
            } ],
            yAxis : [ {
                type : 'value',
                axisLabel : {
                    formatter : '{value} '
                }
            } ],
            grid : {
                x : 30,//设置该图形与对应div的左边距
                y : 30,//设置该图形与对应div的上边距
                x2 : 50,//设置该图形与对应div的右边距
                y2 : 50
                //设置该图形与对应div的下边距
            },
            series : []
        };

        //myLine.setOption(lineOption);
        var ajaxLine = function() {
            $.ajax({
                type: "GET",
                async: false,
                url : '/dst/getDstEcharts?stockNames=' + getCookie("stockNames"),
                success : function(result) {
                    console.log(result);
                    lineOption.xAxis[0].data = result[0];
                    for (var i = 1; i < result.length; i++) {//循环放入数据
                        lineOption.series[i] = result[i];
                        lineOption.series[i].name=result[i].name;
                        lineOption.legend.data[i]=lineOption.series[i].name;
                    }
                    myLine.setOption(lineOption, true);
                },
                complete : function() {
                    //请求完成的处理
                },
                error : function() {
                    //请求出错处理
                    alert("加载失败");
                }
            })
        }
        ajaxLine();
    </script>
</div>
<!-- /Main content -->

<script src="/js/navbar.js"></script>
<script src="/js/plugins/waypoints.min.js"></script>
<script src="/js/bootstrap/bootstrap-tooltip.js"></script>
<script src="/js/bootstrap/bootstrap-dropdown.js"></script>
<script src="/js/bootstrap/bootstrap-collapse.js"></script>

<!-- jQuery DataTable -->
<script src="/js/plugins/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>

</body>
</html>