<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Likema</title>
	<meta name="description" content=""/>
	<meta name="author" content="Walking Pixels | www.walkingpixels.com"/>
	<meta name="robots" content="index, follow"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- CSS styles -->
	<link rel='stylesheet' type='text/css' href='/css/wuxia-red.css'/>
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">

	<!-- Fav and touch icons -->
	<link rel="shortcut icon" href="/img/icons/favicon.ico"/>
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/icons/apple-touch-icon-114-precomposed.png"/>
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/icons/apple-touch-icon-72-precomposed.png"/>
	<link rel="apple-touch-icon-precomposed" href="/img/icons/apple-touch-icon-57-precomposed.png"/>

	<!-- JS Libs -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/js/libs/jquery.js"><\/script>')</script>
	<script src="/js/libs/jquery.js"></script>
	<script src="/js/libs/modernizr.js"></script>
	<script src="/js/libs/selectivizr.js"></script>
	<script src="/js/echarts.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
	<script src="/js/echarts.min.js"></script>
	<script>

        $(document).ready(function () {

            // Navbar tooltips
            $('.navbar [title]').tooltip({
                placement: 'bottom'
            });

            // Content tooltips
            $('[role=main] [title]').tooltip({
                placement: 'top'
            });

            // Dropdowns
            $('.dropdown-toggle').dropdown();


        });
	</script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

<!-- Main navigation bar -->
<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".user">
				<span class="icon-user"></span>
			</button>
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".navigation">
				<span class="icon-chevron-down"></span>
			</button>
			<a class="brand" href="#">Likema</a>
			<nav class="nav-collapse navigation">
				<ul class="nav" role="navigation">
					<li class="active"><a href="#" title="Homepage dashboard"><span class="icon-home"></span>
						Dashboard</a></li>
					<li><a href="../charts.html" title="Chart"><span class="icon-tasks"></span> Chart</a></li>
					<li><a href="#table" title="Table"><span class="icon-table"></span> Tables</a>
					</li>
					<li class="divider-vertical"></li>
					<li><a href="../portfolio.html" title="Buttons in navbar!" class="btn-wuxia-navbar">
						<div class="btn btn-wuxia"><span class="icon-key"></span> Portfolio</div>
					</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<!-- /Main navigation bar -->

<!-- Main content -->
<div class="container" role="main">

	<!-- Breadcrumbs -->
	<ul class="breadcrumb">
		<li  class="active"><a href="#"><span class="icon-home"></span> Home</a></li>
	</ul>
	<!-- Breadcrumbs -->

	<!-- Secondary navigation in hero unit -->
	<div id="main1" class="hero-unit blow" style="height:600px;"></div>
	<!--<script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main1'));
        option = {
            title: {
                text: '折线图堆叠'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['邮件营销','联盟广告','视频广告','直接访问','搜索引擎']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['周一','周二','周三','周四','周五','周六','周日']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'邮件营销',
                    type:'line',
                    stack: '总量',
                    data:[120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name:'联盟广告',
                    type:'line',
                    stack: '总量',
                    data:[220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name:'视频广告',
                    type:'line',
                    stack: '总量',
                    data:[150, 232, 201, 154, 190, 330, 410]
                },
                {
                    name:'直接访问',
                    type:'line',
                    stack: '总量',
                    data:[320, 332, 301, 334, 390, 330, 320]
                },
                {
                    name:'搜索引擎',
                    type:'line',
                    stack: '总量',
                    data:[820, 932, 901, 934, 1290, 1330, 1320]
                }
            ]
        };
        myChart.setOption(option);
	</script>-->
	<script type="text/javascript">
        var myLine = echarts.init(document.getElementById('main1'));
        var lineOption = {
            dataZoom: [
                {
                    type: 'slider',//数据滑块
                    start:0,
                    minSpan:8,    //5min
                    // minSpan:16,   //10min
                    // minSpan:24,   //15min
                    // minSpan:50,   //30min
                    dataBackground:{
                        lineStyle:{
                            color:'#95BC2F'
                        },
                        areaStyle:{
                            color:'#95BC2F',
                            opacity:1,
                        }
                    },
                    // fillerColor:'rgba(255,255,255,.6)'
                },
                {
                    type:'inside'//使鼠标在图表中时滚轮可用
                }],
            title : {
                text : 'Portfolio',//标题
                subtext : ''//副标题
            },
            tooltip : {
                trigger : 'axis' //item 点在哪条线上显示哪条线上的数据，axis点在哪个坐标点上显示对于点上所有数据
            },
            legend : {
                data : []
            },
            toolbox : {
                show : true,
                orient : 'vertical',
                x : 'right',
                y : 'center',
                feature : {
                    mark : {
                        show : true
                    },
                    dataView : {
                        show : true,
                        readOnly : false
                    },
                    magicType : {
                        show : true,
                        type : [ 'line', 'bar' ]
                    },
                    restore : {
                        show : true
                    },
                    saveAsImage : {
                        show : true,
                        name : '折线图'//保存的图片名次
                    }
                }
            },
            calculable : true,
            xAxis : [ {
                type : 'category',
                boundaryGap : false,
                name : '时间',
                data : [ '' ],
                axisLine: {onZero: false},
                splitLine: {show: false},   //是否显示坐标轴轴线
                //splitNumber: 20,    //坐标轴的分割段数，预估值，在类目轴中无效
                min: 'dataMin', //特殊值，数轴上的最小值作为最小刻度
                max: 'dataMax'  //特殊值，数轴上的最大值作为最大刻度
            } ],
            yAxis : [ {
                type : 'value',
                axisLabel : {
                    formatter : '{value} '
                }
            } ],
            grid : {
                x : 30,//设置该图形与对应div的左边距
                y : 30,//设置该图形与对应div的上边距
                x2 : 50,//设置该图形与对应div的右边距
                y2 : 50
                //设置该图形与对应div的下边距
            },
            series : []
        };

        //myLine.setOption(lineOption);
        var ajaxLine = function() {
            $.ajax({
                type: "GET",
                async: false,
                url : '/dst/getDstEcharts?stockNames=a&stockNames=aa',
                success : function(result) {
                    console.log(result);
                    lineOption.xAxis[0].data = result[0];
                    for (var i = 1; i < result.length; i++) {//循环放入数据
                        lineOption.series[i] = result[i];
                        lineOption.series[i].name=result[i].name;
                        lineOption.legend.data[i]=lineOption.series[i].name;
                    }
                    //myLine.setOption(lineOption, true);
                },
                complete : function() {
                    //请求完成的处理
                },
                error : function() {
                    //请求出错处理
                    alert("加载失败");
                }
            })
        }
        ajaxLine();
        myLine.setOption(lineOption, true);
	</script>
	<div class="content">

		<!-- Tab content -->
		<div class="page-container tab-content">

			<!-- Tab #ui -->
			<div class="tab-pane active" id="ui">

				<!-- Grid row -->
				<div class="row">

					<!-- Page grid cell (12 blocks - full) -->
					<article class="span12">
						<h2>All of the securities</h2>
					</article>
					<!-- /Page grid cell (12 blocks - full) -->

					<!-- Page grid cell (8 blocks) -->
					<article class="span12">
						<table class="datatable table table-striped table-bordered" id="table">
							<thead>
							<tr>
								<th>Symbol</th>
								<th>Date</th>
								<th>Open</th>
								<th>High</th>
								<th>Low</th>
								<th>Close</th>
								<th>Volume</th>
							</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</article>

					<!-- Page grid cell (8 blocks) -->

					<!-- Page grid cell (4 blocks) -->
					<!-- Page grid cell (4 blocks) -->

				</div>
				<!-- Grid row -->

			</div>
			<!-- /Tab #ui -->

		</div>
		<!-- /Tab content -->

	</div>
	<!-- /Main data container -->

</div>
<!-- /Main content -->

<!-- Main footer -->
<footer class="container">
	<nav>
		<ul>
			<li>&copy; Copyright 2019. All rights reserved.</li>
		</ul>
	</nav>
	<p>&copy; Copyright &copy; 2019. Likema. All rights reserved.</p>
</footer>
<!-- /Main footer -->

<!-- Scripts -->
<script src="/js/navbar.js"></script>
<script src="/js/plugins/waypoints.min.js"></script>
<script src="/js/bootstrap/bootstrap-tooltip.js"></script>
<script src="/js/bootstrap/bootstrap-dropdown.js"></script>
<script src="/js/bootstrap/bootstrap-collapse.js"></script>

<!-- jQuery DataTable -->
<script src="/js/plugins/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
<script>
    /* Default class modification */
    $.extend($.fn.dataTableExt.oStdClasses, {
        "sWrapper": "dataTables_wrapper form-inline"
    });

    /* API method to get paging information */
    $.fn.dataTableExt.oApi.fnPagingInfo = function (oSettings) {
        return {
            "iStart": oSettings._iDisplayStart,
            "iEnd": oSettings.fnDisplayEnd(),
            "iLength": oSettings._iDisplayLength,
            "iTotal": oSettings.fnRecordsTotal(),
            "iFilteredTotal": oSettings.fnRecordsDisplay(),
            "iPage": Math.ceil(oSettings._iDisplayStart / oSettings._iDisplayLength),
            "iTotalPages": Math.ceil(oSettings.fnRecordsDisplay() / oSettings._iDisplayLength)
        };
    }

    /* Bootstrap style pagination control */
    $.extend($.fn.dataTableExt.oPagination, {
        "bootstrap": {
            "fnInit": function (oSettings, nPaging, fnDraw) {
                var oLang = oSettings.oLanguage.oPaginate;
                var fnClickHandler = function (e) {
                    e.preventDefault();
                    if (oSettings.oApi._fnPageChange(oSettings, e.data.action)) {
                        fnDraw(oSettings);
                    }
                };

                $(nPaging).addClass('pagination').append(
                    '<ul>' +
                    '<li class="prev disabled"><a href="#"><span class="icon-caret-left"></span> ' + oLang.sPrevious + '</a></li>' +
                    '<li class="next disabled"><a href="#">' + oLang.sNext + ' <span class="icon-caret-right"></span></a></li>' +
                    '</ul>'
                );
                var els = $('a', nPaging);
                $(els[0]).bind('click.DT', {action: "previous"}, fnClickHandler);
                $(els[1]).bind('click.DT', {action: "next"}, fnClickHandler);
            },

            "fnUpdate": function (oSettings, fnDraw) {
                var iListLength = 0;
                var oPaging = oSettings.oInstance.fnPagingInfo();
                var an = oSettings.aanFeatures.p;
                var i, j, sClass, iStart, iEnd, iHalf = Math.floor(iListLength / 2);

                if (oPaging.iTotalPages < iListLength) {
                    iStart = 1;
                    iEnd = oPaging.iTotalPages;
                }
                else if (oPaging.iPage <= iHalf) {
                    iStart = 1;
                    iEnd = iListLength;
                } else if (oPaging.iPage >= (oPaging.iTotalPages - iHalf)) {
                    iStart = oPaging.iTotalPages - iListLength + 1;
                    iEnd = oPaging.iTotalPages;
                } else {
                    iStart = oPaging.iPage - iHalf + 1;
                    iEnd = iStart + iListLength - 1;
                }

                for (i = 0, iLen = an.length; i < iLen; i++) {

                    // Add / remove disabled classes from the static elements
                    if (oPaging.iPage === 0) {
                        $('li:first', an[i]).addClass('disabled');
                    } else {
                        $('li:first', an[i]).removeClass('disabled');
                    }

                    if (oPaging.iPage === oPaging.iTotalPages - 1 || oPaging.iTotalPages === 0) {
                        $('li:last', an[i]).addClass('disabled');
                    } else {
                        $('li:last', an[i]).removeClass('disabled');
                    }
                }
            }
        }
    });

    /* Table #example */
    $(document).ready(function () {
        $('.datatable').dataTable({
            "sDom": "<'row'<'span4'l><'span4'f>r>t<'row'<'span4'i><'span4'p>>",
            "sPaginationType": "bootstrap",
            "bProcessing" : true,
            "sAjaxSource" : "/stock/list?date=20160304",//通过ajax实现分页的url路径。
            "aoColumns" : [//初始化要显示的列
                {
                    "data" : "stockName",//获取列数据，跟服务器返回字段一致
                },
                {
                    "data" : "date",
                    "mRender" : function(data, type, full) {
                        return new Date(data)//处理时间显示
                            .toLocaleDateString();
                    }
                },
                {
                    "data" : "openPrice"
                },
                {
                    "data" : "highPrice"
                },
                {
                    "data" : "lowPrice"

                },
                {
                    "data" : "closePrice"
                },
                {
                    "data" : "tradeVolume"
                } ],
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page"
            }
        });
    });
</script>

</body>
</html>
