<!DOCTYPE html>
<html class="no-js ie7 ie" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>Likema-portfolios</title>
    <meta name="description" content=""/>
    <!-- CSS styles -->
    <link rel='stylesheet' type='text/css' href='/css/wuxia-red.css'/>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
    <!--<link rel="stylesheet" type='text/css' href="/js/plugins/dateSelect/build/css/bootstrap-datetimepicker.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/img/icons/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/icons/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/icons/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" href="/img/icons/apple-touch-icon-57-precomposed.png"/>

    <!-- JS Libs -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/libs/jquery.js"><\/script>')</script>
    <script src="/js/libs/modernizr.js"></script>
    <script src="/js/libs/jquery.js"></script>
    <script src="/js/libs/selectivizr.js"></script>
    <script src="/js/echarts.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
    <!-- jQuery DataTable -->
    <script src="/js/plugins/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
    <!-- jQuery DateSelect-->
    <!--<script type="text/javascript" src="/js/plugins/dateSelect/build/js/bootstrap-datetimepicker.min.js"></script>-->

    <script>

        $(document).ready(function () {

            // Navbar tooltips
            $('.navbar [title]').tooltip({
                placement: 'bottom'
            });
            $( document ).tooltip();

            // Content tooltips
            $('[role=main] [title]').tooltip({
                placement: 'top'
            });

            // Dropdowns
            $('.dropdown-toggle').dropdown();

            //Date
            $('#date').val("2016-01-04");


        });
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

<!-- Main navigation bar -->
<header th:fragment="common" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".user">
                <span class="icon-user"></span>
            </button>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".navigation">
                <span class="icon-chevron-down"></span>
            </button>
            <a class="brand" href="/index">Likema</a>
            <nav class="nav-collapse navigation">
                <ul class="nav" role="navigation">
                    <li class="active"><a href="/index" title="Homepage dashboard"><span class="icon-home"></span>
                        Home</a></li>
                    <li><a href="/index#table" title="All securities"><span class="icon-tasks"></span>All Securities</a></li>
                    <li><a href="#" title="Portfolios demo"><span class="icon-table"></span>Portfolios Demo</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li><a href="/myPortfolio" title="My portfolio" class="btn-wuxia-navbar">
                        <div class="btn btn-wuxia"><span class="icon-key"></span> My Portfolio</div>
                    </a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!-- Main content -->
<div class="container" role="main">

    <!-- Breadcrumbs -->
    <ul class="breadcrumb">
        <li  class="active"><a href="/index"><span class="icon-home"></span> Home</a></li>
    </ul>
    <!-- Breadcrumbs -->


    <div class="content">

        <!-- Tab content -->
        <div class="page-container tab-content">

            <!-- Tab #ui -->
            <div class="tab-pane active" id="ui">

                <!-- Grid row -->
                <div class="row">

                    <!-- Page grid cell (12 blocks - full) -->
                    <article class="span12">
                        <h1>Portfolios</h1>
                    </article>

                    <div th:each="portfolio,iterStat : ${portfolios}">
                        <!-- /Page grid cell (12 blocks - full) -->
                        <article class="span3">
                            <p>
                                <br>
                            </p>
                            <p><strong><code>Portfolio</code></strong>
                                <em> - </em> <em th:text="${portfolio.name}"></em>
                            </p>
                            <p><strong><code>Manager</code></strong>
                                <em> - </em> <em th:text="${portfolio.user}"></em>
                            </p>
                            <p><strong><code>Summary</code></strong>
                                <em> - </em> <em th:text="${portfolio.summary}"></em>
                            </p>
                            <p><strong><code>Securities</code></strong>
                                <em> - </em> <em th:text="${portfolio.stockNames}"></em>
                            </p>
                        </article>
                        <!--Page grid cell (4 blocks) -->

                        <!-- Page grid cell (8 blocks) -->
                        <article class="span9">
                            <div class="charts" th:attr = "id = ${portfolio.name}" style="width: 90%; height: 300px"></div>
                        </article>
                    </div>
                </div>
                <!-- Grid row -->

            </div>
            <!-- /Tab #ui -->

        </div>
        <!-- /Tab content -->

    </div>
    <!-- /Main data container -->

</div>
<!-- /Main content -->

<!-- Main footer -->
<footer class="container">
    <nav>
        <ul>
            <li>&copy; Copyright 2019. All rights reserved.</li>
        </ul>
    </nav>
</footer>
<!-- /Main footer -->
<script>
    $('.charts').each(function () {
        var portfolioName = $(this).attr("id");
        console.log(portfolioName);
        // console.log(document.getElementById(portfolioName));
        console.log(this);
        var myLine = echarts.init(this);
        var lineOption = {
            title : {
                text : portfolioName,//标题
                subtext : ''//副标题
            },
            tooltip : {
                trigger : 'axis' //item 点在哪条线上显示哪条线上的数据，axis点在哪个坐标点上显示对于点上所有数据
            },
            legend : {
                data : []
            },
            toolbox : {
                show : true,
                orient : 'vertical',
                showTitle:false,
                x : 'right',
                y : 'center',
                feature : {
                    mark : {
                        show : true
                    },
                    dataZoom : {
                        show: true
                    },
                    dataView : {
                        show : true,
                        readOnly : false
                    },
                    restore : {
                        show : true
                    },
                    saveAsImage : {
                        show : true,
                        name : portfolioName//保存的图片名次
                    }
                }
            },
            dataZoom : {
                show : true,
                realtime: true,
                x:60,
                y:280,
                height:20,
                width:580,
                start : 0,
                end : 100
            },
            calculable : true,
            xAxis : [ {
                type : 'category',
                boundaryGap : false,
                name :'',
                data : [ '' ],
                axisLine: {onZero: false},
                splitLine: {show: false},   //是否显示坐标轴轴线
                //splitNumber: 20,    //坐标轴的分割段数，预估值，在类目轴中无效
                min: 'dataMin', //特殊值，数轴上的最小值作为最小刻度
                max: 'dataMax'  //特殊值，数轴上的最大值作为最大刻度
            } ],
            yAxis : [ {
                type : 'value',
                axisLabel : {
                    formatter : '{value} '
                }
            } ],
            grid : {
                x : 30,//设置该图形与对应div的左边距
                y : 30,//设置该图形与对应div的上边距
                x2 : 50,//设置该图形与对应div的右边距
                y2 : 50
                //设置该图形与对应div的下边距
            },
            series : []
        };

        //myLine.setOption(lineOption);
        var ajaxLine = function() {
            $.ajax({
                type: "GET",
                async: false,
                url : '/portfolios/portfoliosEchartData?portfolioName=' + portfolioName,
                success : function(result) {
                    console.log(result);
                    lineOption.xAxis[0].data = result[0];
                    for (var i = 1; i < result.length; i++) {//循环放入数据
                        lineOption.series[i] = result[i];
                        lineOption.series[i].name = result[i].name;
                        lineOption.legend.data[i]=result[i].name;

                    }
                    myLine.setOption(lineOption, true);
                },
                complete : function() {
                    //请求完成的处理
                },
                error : function() {
                    //请求出错处理
                    alert("fail loading");
                }
            })
        }
        ajaxLine();
    });

</script>
</body>
</html>