<!DOCTYPE html>
<!DOCTYPE html>
<html class="no-js ie7 ie" lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>Likema-securities</title>
    <meta name="description" content=""/>
    <meta name="author" content="Walking Pixels | www.walkingpixels.com"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- CSS styles -->
    <link rel='stylesheet' type='text/css' href='/css/wuxia-red.css'/>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/img/icons/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/icons/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/icons/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" href="/img/icons/apple-touch-icon-57-precomposed.png"/>

    <!-- JS Libs -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/libs/jquery.js"><\/script>')</script>
    <script src="/js/libs/modernizr.js"></script>
    <script src="/js/libs/jquery.js"></script>
    <script src="/js/libs/selectivizr.js"></script>
    <script src="/js/echarts.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        .switch{
            float: right;
            padding-right: 150px;
            margin-top: -500px;
        }
    </style>
    <script>

        $(document).ready(function () {

            // Navbar tooltips
            $('.navbar [title]').tooltip({
                placement: 'bottom'
            });

            // Content tooltips
            $('[role=main] [title]').tooltip({
                placement: 'top'
            });

            // Dropdowns
            $('.dropdown-toggle').dropdown();

            //Date
            $('#date').val("2016-01-04");

        });
    </script>
</head>
<body>

<!-- Main navigation bar -->
<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".user">
                <span class="icon-user"></span>
            </button>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".navigation">
                <span class="icon-chevron-down"></span>
            </button>
            <a class="brand" href="#">Likema</a>
            <nav class="nav-collapse navigation">
                <ul class="nav" role="navigation">
                    <li><a href="/index" title="Homepage"><span class="icon-home"></span>
                        Home</a></li>
                    <li><a href="/index#table" title="All Securities"><span class="icon-tasks"></span>All Securities</a></li>
                    <li><a href="/portfolios" title="Portfolio Demo"><span class="icon-table"></span>Portfolio Demo</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li><a href="/myPortfolio" title="My Portfolio" class="btn-wuxia-navbar">
                        <div class="btn btn-wuxia"><span class="icon-key"></span>My Portfolio</div>
                    </a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- /Main navigation bar -->

<!-- Main content -->
<div class="container" role="main">
    <input type="hidden" id="name" th:value="${name}">
    <input type="hidden" id="date" th:value="${date}">
    <!-- Breadcrumbs -->
    <ul class="breadcrumb">
        <li  class="active"><a href="/index"><span class="icon-home"></span> Home</a></li>
    </ul>
    <!-- Breadcrumbs -->

    <!-- Secondary navigation in hero unit -->

    <!-- /Main data container -->

</div>
<!-- /Main content -->

<!-- Scripts -->
<script src="/js/navbar.js"></script>
<script src="/js/plugins/waypoints.min.js"></script>
<script src="/js/bootstrap/bootstrap-tooltip.js"></script>
<script src="/js/bootstrap/bootstrap-dropdown.js"></script>
<script src="/js/bootstrap/bootstrap-collapse.js"></script>


<div id="main" style="width: 1200px; height: 500px; "></div>

<script type="text/javascript">
    var name = $("#name").val();
    var date = $("#date").val();
    var myChart = echarts.init(document.getElementById('main'));

    // 数据意义：开盘(open)，收盘(close)，最低(lowest)，最高(highest)
    var data0 = getData();

    //
    function getData(){
        $.ajax({
            type: "GET",
            url: "/dst/getDstEchart?stockName="+name,    //请求发送到TestServlet处
            data: {},
            async: false,
            dataType: "json",        //返回数据形式为json
            success: function (result) {
                //请求成功时执行该函数内容，result即为服务器返回的json对象
                if (result) {
                    data0 = JSON.parse(JSON.stringify(result));
                }
                //console.log("data"+data0);
            },
            error: function (errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");
            }
        })
        return data0;
    }



    //计算MA平均线，N日移动平均线=N日收盘价之和/N  dayCount要计算的天数(5,10,20,30)
    function calculateMA(dayCount) {
        var result = [];
        for (var i = 0, len = data0.values.length; i < len; i++) {
            if (i < dayCount) {
                result.push('-');
                //alert(result);
                continue;   //结束单次循环，即不输出本次结果
            }
            var sum = 0;
            for (var j = 0; j < dayCount; j++) {
                //收盘价总和
                sum += data0.values[i - j][1];
                //alert(sum);
            }
            result.push(sum / dayCount);
            // alert(result);
        }
        return result;
    }

    option = {
        title: {    //标题
            text: 'Security: '+name,
            left: 1,
            textStyle:{
                fontFamily: 'Arial',
                fontSize: 20,
                fontStyle: 'normal',
                fontWeight: 'normal',
                color:'#d43f3f',
                // fontWeight: bold
                fontWeight:'bold'
            },
            padding: [
                5,  // 上
                10, // 右
                5,  // 下
                80, // 左
            ]
        },
        tooltip: {  //提示框
            trigger: 'axis',    //触发类型：坐标轴触发
            axisPointer: {  //坐标轴指示器配置项
                type: 'cross'   //指示器类型，十字准星
            }
        },
        axisPointer: {
            link: {xAxisIndex: 'all'},
            label: {
                backgroundColor: '#777'
            }
        },
        legend: {   //图例控件，点击图例控制哪些系列不现实
            data: ['Candlesticks', 'MA5', 'MA10', 'MA20', 'MA30']
        },
        grid: [
            {
                left: '10%',
                right: '8%',
                height: '50%'
            },
            {
                left: '10%',
                right: '8%',
                top: '63%',
                height: '16%'
            }
        ],
        xAxis: [
            {
                type: 'category',   //坐标轴类型，类目轴
                data: data0.categoryData,
                //scale: true,  //只在数字轴中有效
                boundaryGap: false,    //刻度作为分割线，标签和数据点会在两个刻度上
                axisLine: {onZero: false},
                splitLine: {show: false},   //是否显示坐标轴轴线
                //splitNumber: 20,    //坐标轴的分割段数，预估值，在类目轴中无效
                min: 'dataMin', //特殊值，数轴上的最小值作为最小刻度
                max: 'dataMax', //特殊值，数轴上的最大值作为最大刻度
                axisPointer:{z:100},
            },

            {
                type: 'category',
                gridIndex: 1,
                data: data0.categoryData,
                scale: true,
                boundaryGap : false,
                axisLine: {onZero: false},
                axisTick: {show: false},
                splitLine: {show: false},
                axisLabel: {show: false},
                splitNumber: 20,
                min: 'dataMin',
                max: 'dataMax'
           }
        ],
        yAxis: [
            {
                scale: true,    //坐标刻度不强制包含零刻度
                splitArea: {
                    show: true  //显示分割区域
                }
            },
            {
                scale: true,
                gridIndex: 1,
                splitNumber: 2,
                axisLabel: {show: false},
                axisLine: {show: false},
                axisTick: {show: false},
                splitLine: {show: false}
            }
        ],

        dataZoom: [                      //用于区域缩放
            {
                filterMode: 'filter',    //当前数据窗口外的数据被过滤掉来达到数据窗口缩放的效果  默认值filter
                type: 'inside',          //内置型数据区域缩放组件
                xAxisIndex: [0, 1],
                start: 0,               //数据窗口范围的起始百分比
                end: 100                 //数据窗口范围的结束百分比
            },
            {
                show: true,
                xAxisIndex: [0, 1],
                type: 'slider',        //滑动条型数据区域缩放组件
                top: '85%',
                start: 0,
                end: 100
            }
        ],
        series: [   //图表类型
            {
                name: 'Candlesticks',
                type: 'candlestick',    //K线图
                data: data0.values,     //y轴对应的数据
                itemStyle: {
                    normal: {
                        color: 'red',
                        color0: 'green',
                        borderColor: 'red',
                        borderColor0: 'green'
                    }
                },
                ////////////////////////图标标注/////////////////////////////

                markPoint: {    //图表标注
                    label: {    //标注的文本
                        normal: {   //默认不显示标注
                            show: true,
                            //position:['20%','30%'],
                            formatter: function (param) {   //标签内容控制器
                                return param != null ? Math.round(param.value) : '';
                            }
                        }
                    },
                    data: [     //标注的数据数组
                        {
                            name: 'highest value',
                            type: 'max',    //最大值
                            valueDim: 'highest'     //在highest维度上的最大值 最高价
                        },
                        {
                            name: 'lowest value',
                            type: 'min',
                            valueDim: 'lowest'  //最低价
                        },
                        {
                            name: 'average value on close',
                            type: 'average',
                            valueDim: 'close'   //收盘价
                        }
                    ],
                    tooltip: {      //提示框
                        formatter: function (param) {
                            return param.name + '<br>' + (param.data.coord || '');
                        }
                    }
                },

/////////////////////////////////图标标线///////////////////////////

                markLine: {
                    symbol: ['none', 'none'],   //标线两端的标记类型
                    data: [
                        [
                            {
                                name: 'from lowest to highest',
                                type: 'min',    //设置该标线为最小值的线
                                valueDim: 'lowest', //指定在哪个维度上的最小值
                                symbol: 'circle',
                                symbolSize: 10, //起点标记的大小
                                label: {    //normal默认，emphasis高亮
                                    normal: {show: false},  //不显示标签
                                    emphasis: {show: false} //不显示标签
                                }
                            },
                            {
                                type: 'max',
                                valueDim: 'highest',
                                symbol: 'circle',
                                symbolSize: 10,
                                label: {
                                    normal: {show: false},
                                    emphasis: {show: false}
                                }
                            }
                        ],

                        {
                            name: 'min line on close',
                            type: 'min',
                            valueDim: 'close'
                        },
                        {
                            name: 'max line on close',
                            type: 'max',
                            valueDim: 'close'
                        }
                    ]

                }

            },

            {   //MA5 5天内的收盘价之和/5
                name: 'MA5',
                type: 'line',
                data: calculateMA(5),
                smooth: true,
                lineStyle: {
                    normal: {opacity: 0.5}
                }
            },
            {
                name: 'MA10',
                type: 'line',
                data: calculateMA(10),
                smooth: true,
                lineStyle: {    //标线的样式
                    normal: {opacity: 0.5}
                }
            },
            {
                name: 'MA20',
                type: 'line',
                data: calculateMA(20),
                smooth: true,
                lineStyle: {
                    normal: {opacity: 0.5}
                }
            },
            {
                name: 'MA30',
                type: 'line',
                data: calculateMA(30),
                smooth: true,
                lineStyle: {
                    normal: {opacity: 0.5}
                }
            },
            {
                name: 'Volume',
                type: 'bar',
                xAxisIndex: 1,
                yAxisIndex: 1,
                data: data0.tradeVolume
            }

        ]
    };


    // 使用刚指定的配置项和数据显示图表
    myChart.setOption(option);
</script>
<div id="TimeSharingChart" style="width: 1200px; height: 500px;display: none"></div>
<script type="text/javascript">
    // 初始化一个echarts的对象
    var chart =  echarts.init(document.getElementById('TimeSharingChart'));
    //分时图数据 时间/min 价格/close/min
    var dataTimely = getTimelyData();
    var stockName = dataTimely.stockName;
    function getTimelyData(){
        $.ajax({
            type: "GET",
            url: "/marketData/getMarketEchart?date="+date+"&stockName="+name,    //请求发送到TestServlet处
            data: {},
            async: false,
            dataType: "json",        //返回数据形式为json
            success: function (result) {
                //请求成功时执行该函数内容，result即为服务器返回的json对象
                if (result) {
                    dataTimely = JSON.parse(JSON.stringify(result));
                }
            },
            error: function (errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");
            }
        })
        return dataTimely;
    }
    // echarts折线图的配置项
    var option = {
        title: {    //标题
            text: stockName,
            text: "Security: " + name + "    Date: " + date,
            left: 1,
            textStyle:{
                fontFamily: 'Arial',
                fontSize: 20,
                fontStyle: 'normal',
                // fontWeight: 'normal',
                color:'#d43f3f',
                fontWeight:'bold',
            },
            padding: [
                5,  // 上
                10, // 右
                5,  // 下
                80, // 左
            ]
        },
        tooltip: {  //提示框
            trigger: 'axis',    //触发类型：坐标轴触发
            axisPointer: {  //坐标轴指示器配置项
                type: 'cross'   //指示器类型，十字准星
            }
        },
        axisPointer: {
            link: {xAxisIndex: 'all'},
            label: {
                backgroundColor: '#777'
            }
        },
        dataZoom: [                      //用于区域缩放
            {
                filterMode: 'filter',    //当前数据窗口外的数据被过滤掉来达到数据窗口缩放的效果  默认值filter
                type: 'inside',          //内置型数据区域缩放组件
                xAxisIndex: [0, 1],
                start: 0,               //数据窗口范围的起始百分比
                end: 100                 //数据窗口范围的结束百分比
            },
            {
                show: true,
                xAxisIndex: [0, 1],
                type: 'slider',        //滑动条型数据区域缩放组件
                top: '85%',
                start: 0,
                end: 100
            }
        ],
        grid: [
            {
                left: '10%',
                right: '8%',
                height: '50%'
            },
            {
                left: '10%',
                right: '8%',
                top: '63%',
                height: '16%'
            }
        ],
        // x轴配置
        xAxis: [
            {
                type: 'category',   //坐标轴类型，类目轴
                data: dataTimely.categoryData,
                //scale: true,  //只在数字轴中有效
                boundaryGap: false,    //刻度作为分割线，标签和数据点会在两个刻度上
                axisLine: {onZero: false},
                splitLine: {show: false},   //是否显示坐标轴轴线
                //splitNumber: 20,    //坐标轴的分割段数，预估值，在类目轴中无效
                min: 'dataMin', //特殊值，数轴上的最小值作为最小刻度
                max: 'dataMax', //特殊值，数轴上的最大值作为最大刻度
                axisPointer:{z:100},
            },
            {
                type: 'category',
                gridIndex: 1,
                data: dataTimely.categoryData,
                scale: true,
                boundaryGap : false,
                axisLine: {onZero: false},
                axisTick: {show: false},
                splitLine: {show: false},
                axisLabel: {show: false},
                splitNumber: 20,
                min: 'dataMin',
                max: 'dataMax'
            }
        ],
        // y轴配置
        yAxis: [
            {
            name: 'Close',
            type: 'value',
            min: function(value) {return value.min ;} ,
            max: function(value) {return value.max ;}
            },
            {
                scale: true,
                gridIndex: 1,
                splitNumber: 2,
                axisLabel: {show: false},
                axisLine: {show: false},
                axisTick: {show: false},
                splitLine: {show: false}
            }
        ],
        series: [
            {
            name: 'Price',
            type: 'line',
            stack: 'Price',
            data: dataTimely.value
        },
            {
                name: 'Volume',
                type: 'bar',
                xAxisIndex: 1,
                yAxisIndex: 1,
                data: dataTimely.tradeVolume,
                color:'#61a0a8'
            }
        ]
    };
    chart.setOption(option);
</script>
<div class="btn-group switch" data-toggle="buttons">
    <button id="OHLC" class="btn btn-primary" style="background-color:#b94a48;color:#fff ">
        Candlestick
    </button>
    <button id="TimeSharing" class="btn btn-primary" style="background-color:#fff;color:#b94a48 ">
        TimeSharing
    </button>
</div>
<script>
    $("#TimeSharing").click(function(){
        $("#TimeSharingChart").css("display","block");
        $("#main").css("display","none");
        $("#TimeSharing").css({"background-color":"#b94a48","color":"white"});
        $("#OHLC").css({"background-color":"white","color":"#b94a48"});
    });
</script>
<script>
    $("#OHLC").click(function(){
        $("#TimeSharingChart").css("display","none");
        $("#main").css("display","block");
        $("#OHLC").css({"background-color":"#b94a48","color":"white"});
        $("#TimeSharing").css({"background-color":"white","color":"#b94a48"});
    });
</script>
<div style="display:none">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
</div>
</body>
</html>