<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TimeSharingChart</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/echarts.min.js"></script>
</head>

<body>
<div id="TimeSharingChart" style="width: 1200px; height: 600px;"></div>


<script type="text/javascript">
    // 初始化一个echarts的对象
    var chart =  echarts.init(document.getElementById('TimeSharingChart'));

    //分时图数据 时间/min 价格/close/min
    var dataTimely = getTimelyData();
    var stockName = dataTimely.stockName;



    function getTimelyData(){
        $.ajax({
            type: "GET",
            url: "/marketData/getMarketEchart?date=20160104&stockName=aal",    //请求发送到TestServlet处
            data: {},
            async: false,
            dataType: "json",        //返回数据形式为json
            success: function (result) {
                //请求成功时执行该函数内容，result即为服务器返回的json对象
                if (result) {
                    dataTimely = JSON.parse(JSON.stringify(result));
                }
            },
            error: function (errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");
            }
        })
        return dataTimely;
    }


    // echarts折线图的配置项
    var option = {
        dataZoom: [
            {
                id: 'dataZoomX',
                type: 'slider',
                xAxisIndex: [0],
                filterMode: 'filter'
            }
        ],
        // x轴配置
        xAxis: {
            type: 'category',
            // x轴显示的数据
            data: dataTimely.categoryData
        },
        legend:{
            data:[stockName],
        },
        title: {    //标题
            text: stockName,
            left: 0
        },
        tooltip: {  //提示框
            trigger: 'axis',    //触发类型：坐标轴触发
            axisPointer: {  //坐标轴指示器配置项
                type: 'cross'   //指示器类型，十字准星
            }
        },

        // y轴配置
        yAxis: {
            name: 'Price',
            type: 'value',
            min: function(value) {return value.min ;} ,
            max: function(value) {return value.max ;}
        },
        series: [{
            name: stockName,
            type: 'line',
            stack: 'Price',
            data: dataTimely.value
        }]
    };
    chart.setOption(option);
    </script>

</body>

</html>